html {
    height: 100%;
}

body {
    font-family: sans-serif;

    margin: 0;
    padding: 0;

    height: 100%;
}
.body-home{
    background-image:url('images/background.png');
    background-position:center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover
}

.body-cuisine{
    background-image:url('images/background\ 2.1.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}


/*==========CUSTOM CHECKBOXES=========*/

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    font-family: FontAwesome;
    display: inline-block;

    content:"\f0c8";
    letter-spacing: 10px;
    font-size: 20px;
}

input[type=checkbox]:checked + label:before {
    content: "\f14a";
}

/*==========HOME PAGE=========*/

.header {
    background-color: #006400;

    width: 100%;
    height: 50px;
    top: 0;
    

    position: center;
    overflow: hidden;

    text-align: center;

    
}


.header i {
    float: left;
    padding: 17px 0px 0px 17px;
    color: #ffffff;
}
    
.header img {
    width: 150px;
    padding-top: 10px;
    padding-right: 25px;
    
}

/*==========HOME PAGE=========*/
#home {
    padding-top: 5px;
    padding: -5px;
    margin-top: 5px;
}

#home-logo-img {
    width: 25px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
    
    
    
}

#home-logo-text {
    width: auto;
    display: block;
    margin: auto;
    padding: 25px;
}
    
    
/*=====HOME PAGE MENU=====*/

.home-menu-item {
    text-decoration: none;
    text-transform: uppercase;
    

    color: #ffffff;
    font-size:25px;
    font-weight: bold;
    text-align: center;
    border:5px solid lightgreen;
    
    

    display: block;
    margin: 50px;
    margin-bottom: 10px;
    width: 20%;
    margin-top: 120px;
   
    
}
    
    

/*==========CUISINE PAGE=========*/
#cuisine {
    padding-top: 100px;
    padding: 200px;

}

/*=====CUISINE PAGE MENU=====*/

.cuisine-list a {
    text-decoration:none;
}

.cuisine-list-item {
    border: 5px solid #ffffff;
    margin: 10px;
}
.cuisine-list-item h1 {
    font-weight: bold; 
    font-size: 30px;
    color: #ffffff;
    padding-left: 10px;
}

.cuisine-list-item i {
     float: right;
     color: #ffffff;
     padding: 10px;
}
.cuisine-list-item p {
    font-size: 20px;
    font-style: italic;
    color: #ffffff;
    margin-top: -7px;
    padding-left: 10px;
}

/*==========RESTUARANT PAGE=========*/

#restuarant {
    padding-top: 50px;
}




/*=====RESTUARANT DETAILS=====*/

.restuarant-details img {
    width: 100%;
    
}

.restuarant-details h1 {
    font-size: 25px;
    text-align: center;
    border: 5px solid #1a1a1a;
    margin: 10px;
    padding: 5px;
}


.restuarant-details h2 {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-left: 10px;
}

.restuarant-details-info {
    margin-left: 25px;
    margin-right: 25px;

}

.restuarant-details-info p {
    font-size: 13px;
    display: inline-block;
}

.restuarant-details-ingredients label {
    line-height: 25px;
    margin-left: 10px;
}

.restuarant-details-steps {
    padding-top: 20px;
}

.restuarant-details-steps ol {
    padding-left: 28px;
}

/*==========THANK YOU=========*/

.body-thank-you{
    background-image:url('images/Thank\ you!\ page.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover
}

#thank-you {
    padding-top: 70px;
    padding: 350px;

}

.thank-you-list a {
    text-decoration:none;
    color: #3ba83b;
    padding-left: 100px;

}


















